@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range'] {
  appearance: none;
  cursor: pointer;
  writing-mode: vertical-lr;
  direction: rtl;
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 16px;
  background: transparent;
  border: 2px solid white;
}

@layer base {
  button {
    @apply rounded-lg h-8 px-1 active:bg-gray-700 bg-gray-900 text-sm;
  }

  input[type='text'],
  select {
    @apply bg-transparent border border-gray-700 rounded-lg px-2 mx-1 max-w-[200px] truncate;
  }

  option {
    @apply text-black;
  }
}

@layer components {
  .panel {
    @apply flex flex-col;
  }
}
